<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734936875698-m93ejp3doj8ov5sm6maaoel5askbnsos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734936875698-m93ejp3doj8ov5sm6maaoel5askbnsos</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734936875698-0url52m2gsg98ncggpgqb30f27dk4kjc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXyFNK20yrHKxU1ncCBAIqi1vb7IKTPgE</string>
	<key>GCM_SENDER_ID</key>
	<string>734936875698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usama.cryptogiftmessagegenerator</string>
	<key>PROJECT_ID</key>
	<string>crypto-gift-message-generator</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-gift-message-generator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734936875698:ios:5d6ad6645071edfab3ffab</string>
</dict>
</plist>